@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'), url("../../fonts/Inter-Regular.woff2") format("woff2"),
       url("../../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Inter'), url("../../fonts/Inter-Black.woff2") format("woff2"),
       url("../../fonts/Inter-Black.woff") format("woff");

}

.page {
    max-width: 1280px; 
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    
  
  }

  @media screen and (max-width: 425px) {
    .page {
  
      max-width: 320px;
  
    }
  } 



