.place__text {
    max-width: 484px;
}

@media screen and (max-width: 1024px) {
    .place__text {

        max-width: 456px;

    }
}   

@media screen and (max-width: 768px) {
    .place__text {

        max-width: 352px;

    }
}  

@media screen and (max-width: 425px) {
    .place__text {
        padding: 0 16px 0 16px;
        max-width: 320px;

    }
}   