.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 92px 48px 24px 48px;
    
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        

    }
}   

@media screen and (max-width: 780px) {
    .footer {
        max-width: 720px;
        margin: 88px 24px 24px 24px;

    }
}  



@media screen and (max-width: 610px) {
    .footer {
        justify-content: flex-start;
        flex-direction: column;
        max-width: 186px;
        margin: 64px auto 16px 24px;

    }
}   